[submodule "openscad-shorthand"]
	path = openscad-shorthand
	url = git@github.com:limitz/openscad-shorthand
	branch = master
	update = rebase
[submodule "openscad-skf"]
	path = openscad-skf
	url = git@github.com:limitz/openscad-skf
	branch = master
	update = rebase